.attribution {
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    bottom:20px;
    text-align: center;
    font-size: 1rem;
    color: black;
    font-family: sans-serif;
    a{
        color: #000;
    }
    @include phone{
       
    }
}

#avatar{
    border-radius: 50%;
    border: 5px solid white;
    transform: translateY(-50%);
}

#patternTop, #patternBottom{
    position: fixed;
    z-index: -1;
}

#patternTop{
    top:-50%;
    left:-18%;
    @include phone{
        top:-110%;
        left:-200%;
    }
}

#patternBottom{
    top:50%;
    left:50%;
    @include phone{
        left:30%;
    }
}