$mobileBreakPoint: 375px;
$tabletBreakPoint: 1024px;
$laptopBreakPoint: 1440px;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$kumbh: "Kumbh Sans", sans-serif;

$cyan: hsl(185, 75%, 39%);
$darkBlue: hsl(229, 23%, 23%);
$blue: hsl(227, 10%, 46%);
$grey: hsl(0, 0%, 59%);

$fontSize: 18px;